.fc-scroller {
    overflow:visible !important;
}

.swal2-modal {
  z-index: 1;
  margin: 0 auto;
}

.fc-unthemed {
  z-index: -1;
  position: absolute;
}

.calendarPanel {
    background-color: #3BC48F;
}