.Home {
  height:100%;
}

#menu {
  margin-top:20%;
  margin-left:auto;
  margin-right:auto;
  width:17em;
  height:17em;
}

.menu-item {
  background: #0375B4;
  width: 46%;
  height: 46%;
  margin: 2%;
  display: inline-block;
  border-radius: 1.7em;
}
.top-left {
  background-color: 0375B4;
}
.top-right{
  background-color: #262228;
}
.bottom-left {
  background-color:#FC4A1A;
}
.bottom-right {
  background-color: #007849;
}
#Logo-home {
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:center;
  width:80%;
  height:auto;
  margin-top:10%;
}

.menu-image {
  width:50%;
  height:50%;
  transform: translate(50%, 50%);
}

@media screen and (min-width: 768px) {

  #menu {
    text-align:center;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:17em;
  }

  .menu-item {
    width: 140px;
    height: 140px;
    margin: 2%;
    display: inline-block;
    border-radius: 1.7em;
  }
  .menu-image {
    width:50%;
    height:50%;
    transform: translate(5%, 50%);
  }
  br {
    display:none;
    content:' ';
  }
}