.MPcontainer{
  display: flex;
  justify-content: center;
}

.MPHeaderText{
  font-size: 1.5rem;
  text-align: center;
}

li {
  list-style: none;
}

#newMealForm {
  padding: 10px 0;
  text-align: left;
}

.mealItems {
  padding: 1px;
}

.headerMP {
  width: 100%;
  padding: 5px;
}

.mealItems {
  list-style: none;
  padding: 10px;
  text-decoration: underline;
  color: #5e79a5;
  /*display: inline-flex;*/
}

#mealPlanner {
  text-align: center;
  padding-bottom: 5px;
}

.recipeBookML {
  overflow: auto;
  height: 70rem;
  width: 70rem;
  display: flex;
}
