@font-face { font-family: Ailerons; src: url('font/Ailerons-Typeface.otf'); }
.Site {
    /*text-align: center;*/
}

/*.Site-logo {*/
/*animation: Site-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/
.menu-header {
    padding:10px
}
#desktop-header {
    display:none;
}
.navbar-nav {
    font-size:12px;
    margin:0;
}
.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before {
    display:none;
}
.container{
    padding-right: 20px;
}
#Site-header-nav {
    height:10%;
    color: white;
    width:100% !important;
}
.container>.navbar-collapse{
    margin-right:0;
    margin-left:0;
    -webkit-box-sizing:initial;
    box-sizing:initial;
    padding-left:0px;
    padding-right:0px;
}

#header-logo {
    width:65%;
}
.left-sideOf {
    margin-left:0;
    padding-left:0;
}

.navbar-inverse {
    background-color:#262228 !important;
}

.Site-profilePicture {
    display: block;
    width: 192px;
    height: 192px;
    margin: 10px auto;
}

.menu-item-drop {
    display:inline;
    width:7%;
    padding-top:5%;
    max-width: 3rem;
}

.space-fill {
    font-size:20px;
    display:inline-block;
    visibility:hidden;
    width:9.5%;
}

.contain-menu-drop {
    font-family: Ailerons;
    font-size: 160%;
    padding-left:0%;
    padding-right:5%;
}

.Site-page {
    padding: 10px;
}

#header-image {
    position:relative;
    float:right;
    height:auto;
    width:15%;
    display:inline;
}

.icon-bar{
    width:5em;
    height:.45em;
}

@keyframes Site-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.navbar-toggle {
    float:left !important;
}

@media screen and (min-width: 768px) {

    #header-logo {
        display:none;
    }
    .space-fill {
        display:flex-inline;
        visibility:visible;
        color:white;
        width:12%;
    }
    .left-sideOf{
        width: 8%;
    }
    .right-sideOf{
        width:0%;
        margin:0;
        padding:0;
    }

    a {
        text-decoration:none !important;
        -webkit-text-decoration:none !important;
    }

    .menu-item-drop {
        display:flex-inline;
        width:30px;
        padding:0;
    }

    ul {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
    }

    .navbar-collapse {
        padding-right:0;
        padding-left:0;
    }

    .container{
        padding-right:0;
        padding-left:0;
        width:100%;
        margin-right:0;
        margin-left:0;
    }

    .navbar-nav{
        height:50px;
        width:100%;
        overflow: hidden;
    }
    .navbar {
        border-radius:0px;
    }
    #Site-header-nav {
        height:50px;
        color: white;
        padding:7px;
        width:100% !important;
    }
    #desktop-header {
        display:block;
        height:70px;
        background-color:#262228;
        width:100%;
    }
    #desktop-header-logo {
        height: 100%;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    .menu-header {
        display:none;
    }
    #header-image {
        position:absolute;
        top:2px;
        right:5.5px;
        height:70px;
        width:auto;
    }
    #delivery-button {
        position: absolute;
        top:7px;
        left:10px;
        height:55px;
        width:auto;
    }
    #header-logo {
        display:flex;
        margin-left:auto;
        margin-right:auto;
    }

}