@font-face { font-family: Ailerons; src: url('font/Ailerons-Typeface.otf'); }
.Site {
    /*text-align: center;*/
}

/*.Site-logo {*/
/*animation: Site-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/
.menu-header {
    padding:10px
}
#desktop-header {
    display:none;
}
.navbar-nav {
    font-size:12px;
    margin:0;
}

.container{
    padding-right: 20px;
}
#Site-header-nav {
    height:10%;
    color: white;
    width:100%;
}
/*.container>.navbar-collapse{*/
    /*margin-right:0;*/
    /*margin-left:0;*/
    /*-webkit-box-sizing:initial;*/
    /*box-sizing:initial;*/
    /*padding-left:0px;*/
    /*padding-right:0px;*/
/*}*/

#header-logo {
    width:65%;
}


.navbar-inverse {
    background-color:#262228;
}

.Site-profilePicture {
    display: block;
    width: 192px;
    height: 192px;
    margin: 10px auto;
}

.menu-item-drop {
    display:inline-block;
    max-width: 2rem;
    width:auto;
}

.contain-menu-drop {
    font-family: Ailerons;
    font-size: 130%;
    color: #ffffff;
    text-align:center;
    margin: 3% 0%;
}

.Site-page {
    padding: 10px;
}

#header-image {
    position:relative;
    float:right;
    height:auto;
    width:15%;
    display:inline;
}

.icon-bar{
    width:5em;
    height:.45em;
}

@keyframes Site-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.navbar-toggle {
    float:left;
}
.menu-head {
    display:none;
}

@media screen and (min-width: 768px) {

    .menu-head {
        display:inherit;
    }
    #header-logo {
        display: none;
    }

    .contain-menu-drop {
        margin:auto;
    }
    a {
        text-decoration:none;
        -webkit-text-decoration:none;
    }

    .menu-item-drop {
        display:flex-inline;
        max-width:3rem;
        padding:0;
    }

    ul {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
    }

    .navbar-collapse {
        padding-right:0;
        padding-left:0;
    }

    .container{
        padding-right:0;
        padding-left:0;
        width:100%;
        margin-right:0;
        margin-left:0;
    }

    .navbar-nav{
        height:50px;
        width:100%;
        overflow: hidden;
    }
    .navbar {
        border-radius:0px;
    }
    #Site-header-nav {
        height:50px;
        color: white;
        padding:7px;
        width:100%;
    }
    #desktop-header {
        display:block;
        height:70px;
        text-align:center;
        background-color:#262228;
    }
    #desktop-header-logo {
        height: 70px;
        display:inline-block;
    }
    .menu-header {
        display:none;
    }
    #header-image {

        height:70px;
        width:auto;
    }
    #delivery-button {

        height:70px;
        width:auto;
    }
    #header-logo {
        display:flex;
        margin-left:auto;
        margin-right:auto;
    }

}