#addRecipe {
  overflow: auto;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background: white;
  display: block;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
} /*needed to prevent the autofill yellow-background when resetting the form fields*/

.swal2-show{
  margin: 0 auto;
  z-index: 1;
}

/*#ingredients{
  float: left;
}*/

.plusSign{
  font-size: 20px;
  margin: 5px;
  padding: 0px;
  /*float: right;*/
}

.plusSign:active{
  color: red;
}
.form-control{
  width: 80%;
}

#recipeBook {
  text-align: center;
  padding-bottom: 5px;
}

#createARecipe {
  float: right;
  margin: 0 auto;
}

.help-block {
  display: inline-block;
  padding-left: 5px;
}
