html::-webkit-scrollbar {
    width: 1em; /*BUG: not showing up with scroll overflow...*/
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.RBcontainer {
  display: flex;
  justify-content: center;
}

.recipeList {
  padding-left: 0px;
}

.recipeLi {
  list-style: none;
  padding: 10px;
  text-decoration: underline;
  color: #5e79a5;
}

.recipeList>li:nth-child(odd){
  background: #F5F6F4;
}​

.recipeBook {
  overflow: auto;
  background: white;
  border-radius: 10px;
  height: 70rem;
  width: 70rem;
  display: flex;
  text-align: left;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
} /*needed to prevent the autofill yellow-background when resetting the form fields*/

.swal2-show{
  margin: 0 auto;
  z-index: 1;
}

/*#ingredients{
  float: left;
}*/
.recipeListContainer {
  width: 70em;
}

.plusSign{
  font-size: 20px;
  margin: 5px;
  padding: 0px;
  /*float: right;*/
}

.plusSign:active{
  color: red;
}
.form-control{
  width: 80%;
}

#recipeBook {
  text-align: center;
  padding-bottom: 5px;
}

#createARecipe {
  float: right;
  margin: 0 auto;
  width: 100%;
}

.recipeBookPanel {
  display: flex;
  width: 30em;
  float: left;
  margin-right: 20px;
}

.resultImg {
  max-height: 425px;
  align-items: center;
}

.recipeHeader {
  font-size: 1em;
}

.recipeName {
  font-size: 1.5em;
}
