
#grocerylist-box {
    overflow:auto;
    height:200px;
}

@media screen and (min-width: 768px) {
    #grocerylist-box{
        height:100%;
        display:flex;
        margin-left:35%;
        margin-right:auto;
        text-align:left;
        line-height: 2;
    }
}