
/*input[type="checkbox"] {*/
    /*display:none;*/
/*}*/
#grocerylist-box {
    overflow:auto;
    height:100%;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    background:white;
    border-radius: 10px;

}

.shop-list {

    padding-left: 5%;
    color: #5e79a5;
    height:100%;

}
.checkbox-par {
    padding-left: 0px;
}
.checkbox-par>li:nth-child(odd){
    background: #F5F6F4;
}​


@media screen and (min-width: 768px) {
    #grocerylist-box{
        height:100%;
        display:flex;
        margin-left:35%;
        margin-right:auto;
        text-align:left;
        line-height: 2;
    }
}